@media amzn-kf8
{
}

@media amzn-mobi
{
}

@font-face {
    font-family: 'Bitstream Vera Sans Mono Bold';
    src: url(../fonts/VeraMono-Bold.ttf); /*Fonts/SourceCodePro-Bold.ttf*/
    font-weight: bold;
                                          font-style: normal;
}
article,aside,details,figcaption,figure,footer,header,nav,section{display:block;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
sub,sup{font-size:75%;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{height:auto;border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
body{margin:0;font-family:serif;font-size:1em;line-height:120%;color:#000;background-color:#fff;}
a{color:#000;text-decoration:underline;}
p{font-family:serif;font-size:1em;line-height:120%;margin: 0 0 1em 0;}
p small{font-size:0.75em;color:#999;}
.lead{margin-bottom:18px;font-size:20px;font-weight:200;line-height:165%;}
h1,h2,h3,h4,h5,h6{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;text-rendering:optimizelegibility;text-align:left;}
h1{font-size:2em;margin-bottom:1em;page-break-before:always;margin-top:3em;line-height:1.5em;}
h2{font-size:1.6em;margin-bottom:1em;page-break-before:always;}
h3{font-size:1.2em;margin-bottom:0.75em;margin-top:1.2em;}
h4{font-size:1em;margin-bottom:0.5em;}
h5 {font-size:1em;}
h6{font-size:0.8em;}
ul,ol{padding:0;margin:0 0 2% 2%;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ul li{list-style:square;}
ol li{list-style:decimal;}
dl{margin-bottom:1em;margin-left:1em;}
dt,dd{}
dt, dt code{font-weight:bold;}
strong{font-weight:bold;}
em{font-style:italic;}
.muted{color:#999;}
abbr[title]{border-bottom:1px dotted #ddd;cursor:help;}
abbr.initialism{font-size:90%;text-transform:uppercase;}
blockquote{font-style:italic;padding:0 0 0 0.75em;margin:0 0 0.75em;border-left:5px solid #eee;}
blockquote p{margin-bottom:0;font-style:italic;}
blockquote small{display:block;line-height:100%;color:#999;}
blockquote small:before{content:'\2014 \00A0';}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
address{display:block;margin-bottom:1em;font-style:normal;}
small{font-size:100%;}
cite{font-style:normal;}
/*code,pre{padding:0px;color:#000;}*/
code {
	font: normal normal normal 0.9em/1.2em 'Bitstream Vera Sans Mono Bold', monospace;
    background: none repeat scroll 0 0 #fdfdfd /*#EEEEDD*/;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
}
h2 code {font-weight: bold;font-size:1.2em;}
h3 code {font-weight: bold;font-size:1.2em;} 
h4 code {font-weight: bold;font-size:1.1em;}
pre{display:block;padding:2px;margin:0 0 9px;font: normal normal normal 0.9em/1.2em 'Bitstream Vera Sans Mono Bold', monospace;background-color:#fdfdfd;border:1px solid rgba(0, 0, 0, 0.25);border-radius:3px;white-space:pre-wrap;}/*word-break:break-all;word-wrap:break-word;*/
table { font-size: inherit;margin-bottom:1em;}
td,th {vertical-align:top;padding: 0.2em;}
th { background: #fdfdfd; text-align: left;}
td {}
caption {display: table-caption;text-align: left;font-style:italic;}
div.note{padding:0.3em;margin:1em;border:1px solid rgba(0, 0, 0, 0.15);/*border-right:1px solid rgba(0, 0, 0, 0.15);*/}
div.note h4 {text-align: center;text-transform:uppercase;}
div.caution {border-width: thin;border-style: solid;background: #ff6666;}
div.production {background: #000;color: #fff;text-align: center;}
.epigraph {margin: 0;font-size: 0.8em;}
.literal {white-space: pre-wrap;line-height: 150%;}
li{margin-top: 0.75em;}
img{}
.sidebar{padding: 1em;border: 1px solid;margin-left: 5%;margin-right: 5%;margin: 0;}
.tip{padding: 0.5em;border: 1px solid;margin-left: 10%;margin-right: 10%;border-radius: 10px;align: center;}
.tip .title {background-color: black;color: white;width: 100%;font-variant: small-caps;text-align: center;}
.tip .title code {color: white;}
.center, .center h1, .center h2, .center h3 {text-align:center;}
ul.toc li {
	margin-left:2em;
	list-style-type:none;
	list-style-position:inside;
	font-size:1em;
	line-height:1em;
}
ul.toc li strong {line-height:1.4em;font-size:1.2em;}
hr {margin-bottom:3em;}